.cards-container {

    position: absolute;

    width: 140vh;
    height: 75vh;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    
    text-align: center;
    
    .card {
        margin: 1vh;
    }

}