.card {
  font-family: "Cabin", sans-serif !important;
  position: relative;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  display: inline-block;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: none;
}
.card .card-front {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s ease;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card .card-front .frame {
  width: 100%;
  height: 100%;
}
.card .card-front .frame img {
  width: 100%;
  height: 100%;
}
.card .card-front .element {
  position: absolute;
  top: 3.8%;
  left: 4.5%;
  width: 90.6%;
  height: 92.5%;
}
.card .card-front .element img {
  width: 100%;
  height: 100%;
}
.card .card-front .card-image {
  position: absolute;
  width: 76.2%;
  height: 53.5%;
  top: 14.8%;
  left: 11.8%;
}
.card .card-front .card-image img {
  width: 100%;
  height: 100%;
}
.card .card-front .name {
  position: absolute;
  top: 3.8%;
  left: 10%;
  width: 55%;
  height: 4%;
  line-height: 0;
  color: black;
  font-weight: bold;
  text-align: left;
}
.card .card-front .health {
  position: absolute;
  top: 3.8%;
  right: 9.8%;
  width: 24%;
  height: 4%;
  line-height: 0;
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-align: right;
}
.card .card-front .info {
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  width: 60%;
  text-align: center;
}
.card .card-front .attack {
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 8.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 53%;
  text-align: center;
}
.card .card-front .damage {
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 8.5%;
  right: 8%;
  width: 14.5%;
  text-align: right;
}
.card .card-front .num {
  color: black;
  font-weight: bold;
  position: absolute;
  bottom: 1.2%;
  left: 6%;
  text-align: left;
  width: 20%;
}
.card .card-front:hover {
  cursor: pointer;
}
.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 1s ease;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}
.card .card-back img {
  height: 100%;
  width: 100%;
}