.card {
    
    font-family: 'Cabin', sans-serif !important;
    position: absolute;
    

    display: inline-block;
    

    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 24vh;
    height: 35vh;
	
	
        .frame {
            width: 100%;
            height: 100%;
    
            img {
                width: 100%;
                height: 100%;
                
            }
        }
    
        .element {
            position: absolute;
            top: 3.8%;
            left: 4.5%;
    
            width: 90.6%;
            height: 92.5%;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .card-image {
            position: absolute;
            width: 76.3%;
            height: 53.5%;
    
            top: 14.8%;
            left: 11.7%;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
        
        .name {
            position: absolute;
            top: 8.7%;
            left: 10%;
            width: 55%;
            line-height: 4%;
            height: 4%;
            
            line-height: 0;
            color: black;
            font-weight: bold;
            text-align: left;
           
        }
    
        .health {
            position: absolute;
            top: 8.7%;
            right: 9.8%;
            width: 24%;
            line-height: 4%;
            height: 4%;
    
            line-height: 0;
            color: rgb(255, 0, 0);
            font-weight: bold;
            text-align: right;
         
        }
    
        .info {
            position: absolute;
            top: 71.8%;
            color: black;
            
            line-height: 4%;
            height: 4%;
            width: 100%;
     
            text-align: center;
        }
    
        .attack {
            color: black;
            font-weight: bold;
            position: absolute;
            
            bottom: 1.5%;
            left: 22.5%;
            
            width: 53%;
            line-height: 80%;
            height: 12%;
            
    
            text-align: center;
            
        }
    
        .damage {
            color: black;
            font-weight: bold;
            position: absolute;
            bottom: 12.5%;
            right: 8%;
            width: 14.5%;
            line-height: 4%;
            height: 4%;
    
            text-align: right;
        }
    
        .num {
            color: black;
            font-weight: bold;
            position: absolute;
            bottom: 2.5%;
            left: 6%;
            text-align: left;
            width: 20%;
            line-height: 3%;
            height: 3%;
    
        }
    
}
