.property-editor {
    position: absolute;

    top: 0vh;
    left: 1.5vh;

    width: 125vh;
    height: 82vh;

    overflow: auto;

    .property-section {
        position: relative;

        width: 100%;
        height: 6vh;

        background-color: var(--dark2);
    }
}