.adminmenu {
  width: 160vh;
  height: 85vh;
  background-color: var(--dark1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vh;
}
.adminmenu .navigation {
  position: absolute;
  left: 1.5vh;
  top: 1.5vh;
  width: 30vh;
  height: 82vh;
  overflow: auto;
}
.adminmenu .navigation .navbutton {
  width: 100%;
  height: 7vh;
  border-radius: 0.5vh;
  margin-top: 0.5vh;
  margin-bottom: 0.25vh;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark2);
}
.adminmenu .navigation .navbutton:hover {
  background-color: var(--dark3);
  cursor: pointer;
}
.adminmenu .navigation .navbutton .navbutton-text {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-top: 0vh;
  left: 50%;
  top: -0.3vh;
  transform: translateX(-50%);
  color: var(--white);
  font-size: 2.4vh;
}
.adminmenu .navigation .navbutton .navbutton-text i {
  margin-right: 1vh;
}
.adminmenu .navigation .navbutton .navbutton-text p {
  position: relative;
}
.adminmenu .content {
  position: absolute;
  width: 126vh;
  height: 82vh;
  right: 1.5vh;
  top: 1.5vh;
}
.adminmenu .content .border {
  position: absolute;
  height: 100%;
  width: 0.5vh;
  background-color: var(--dark2);
}

.collections {
  position: absolute;
  right: 0vh;
  top: 0vh;
  width: 124.5vh;
  height: 100%;
  overflow: auto;
}
.collections .collectionItem {
  position: relative;
  width: 14.5vh;
  height: 12vh;
  margin-right: 1vh;
  margin-bottom: 0.5vh;
  border-radius: 1vh;
  display: inline-block;
}
.collections .collectionItem .icon {
  color: var(--white);
  font-size: 8vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.collections .collectionItem .title {
  position: absolute;
  bottom: -1.6vh;
  color: var(--white);
  width: 100%;
  height: 2vh;
  font-size: 1.8vh;
  text-align: center;
}
.collections .collectionItem:hover {
  cursor: pointer;
  background-color: var(--dark3);
}
.collections .addNewCollection {
  position: absolute;
  width: 40vh;
  height: 70vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.collections .addNewCollection .newCollectionInput {
  position: relative;
  margin-bottom: 1vh;
  height: 7vh;
  width: 100%;
}
.collections .addNewCollection .newCollectionInput .title {
  position: absolute;
  top: -1.5vh;
  left: 0vh;
  width: 40vh;
  color: var(--white);
  font-size: 2vh;
}
.collections .addNewCollection .newCollectionInput input {
  position: absolute;
  border: none;
  background-color: var(--dark2);
  color: var(--white);
  border-radius: 0.5vh;
  outline: none;
  padding-left: 1vh;
  padding-right: 1vh;
  bottom: 0vh;
  width: 38vh;
  height: 3.5vh;
  font-size: 1.6vh;
}
.collections .addNewCollection .newCollectionInput .error {
  position: absolute;
  color: red;
  width: 100%;
  text-align: center;
  font-size: 1.6vh;
  font-weight: bold;
  top: 6.2vh;
}
.collections .addNewCollection .newCollectionInput .response {
  position: absolute;
  color: green;
  width: 100%;
  text-align: center;
  font-size: 1.6vh;
  font-weight: bold;
  top: 6.2vh;
}
.collections .addNewCollection .newCollectionInput i {
  padding-right: 0.2vh;
}
.collections .addNewCollection .newCollectionAccept {
  position: relative;
  background-color: var(--dark2);
  width: 14vh;
  margin-top: 3.5vh;
  height: 5vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5vh;
}
.collections .addNewCollection .newCollectionAccept .title {
  position: absolute;
  top: -0.6vh;
  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 2vh;
}
.collections .addNewCollection .newCollectionAccept:hover {
  cursor: pointer;
  background-color: var(--dark3);
}
.collections .returnBtn {
  position: absolute;
  width: 14vh;
  height: 5vh;
  background-color: var(--dark2);
  color: var(--white);
  border-radius: 0.5vh;
}
.collections .returnBtn:hover {
  cursor: pointer;
  background-color: var(--dark3);
}
.collections .returnBtn .title {
  position: absolute;
  width: 100%;
  top: -0.6vh;
  text-align: center;
  font-size: 2vh;
}
.collections .returnBtn .icon {
  padding-right: 0.5vh;
}

.manageCollection {
  position: absolute;
  right: 0vh;
  top: 0vh;
  width: 124.5vh;
  height: 100%;
  overflow: auto;
}
.manageCollection .allCards {
  position: absolute;
  width: 100%;
  height: 75vh;
  bottom: 0.5vh;
  overflow: auto;
}

.actions {
  position: absolute;
  width: 60vh;
  height: 5vh;
}
.actions .action {
  position: relative;
  float: left;
  width: 14vh;
  height: 5vh;
  margin-right: 0.5vh;
  background-color: var(--dark2);
  color: var(--white);
  border-radius: 0.5vh;
}
.actions .action:hover {
  cursor: pointer;
  background-color: var(--dark3);
}
.actions .action .title {
  position: absolute;
  width: 100%;
  top: -0.6vh;
  text-align: center;
  font-size: 2vh;
}
.actions .action .icon {
  padding-right: 0.5vh;
}

.card-editor {
  position: absolute;
  top: 0vh;
  left: 1.5vh;
  width: 125vh;
  height: 82vh;
}
.card-editor .input {
  position: absolute;
  width: 30vh;
  height: 80vh;
  top: 0;
  left: 0;
}
.card-editor .input .card-text-input {
  display: flex;
  position: relative;
  margin: 0;
  background-color: var(--dark2);
  width: 30vh;
  height: 100%;
  max-height: 7vh;
  border-radius: 0.5vh;
  margin-bottom: 1vh;
}
.card-editor .input .card-text-input.expanded {
  max-height: 20vh;
}
.card-editor .input .card-text-input .title {
  position: absolute;
  top: -1.2vh;
  left: 1vh;
  width: 28vh;
  color: var(--white);
  font-size: 1.8vh;
}
.card-editor .input .card-text-input input {
  position: absolute;
  left: 1vh;
  top: 3.8vh;
  color: var(--white);
  background-color: var(--dark3);
  outline: none;
  border: none;
  width: 27.5vh;
  height: 2vh;
}
.card-editor .input .card-text-input .expand {
  position: absolute;
  right: 1vh;
  top: 1vh;
  width: 2vh;
  height: 2vh;
  color: var(--white);
  font-size: 2vh;
}
.card-editor .input .card-text-input .expand:hover {
  cursor: pointer;
}
.card-editor .input .card-text-input .additional {
  display: none;
  bottom: 0vh;
  position: absolute;
  height: 12vh;
  width: 100%;
}
.card-editor .input .card-text-input .additional .color {
  position: absolute;
  margin-left: 1vh;
  margin-top: 0vh;
  width: -moz-fit-content;
  width: fit-content;
  height: 5vh;
  color: var(--white);
  font-size: 1.8vh;
  display: inline-block;
}
.card-editor .input .card-text-input .additional .current-color-preview {
  position: absolute;
  width: 28vh;
  height: 2vh;
  bottom: 1vh;
  left: 1vh;
  display: inline-block;
  background-color: red;
}
.card-editor .input .card-text-input .additional .use-default {
  position: absolute;
  left: 1vh;
  top: 1.2vh;
  width: 25vh;
  height: 2vh;
  color: var(--white);
  font-size: 1.3vh;
}
.card-editor .input .card-text-input .additional .use-default-checkbox {
  position: absolute;
  left: 0.5vh;
  top: 4.2vh;
  width: 1.5vh;
  height: 1.5vh;
  background-color: var(--dark2);
  border-radius: 0.3vh;
  border: 0.1vh solid var(--white);
  cursor: pointer;
}
.card-editor .input .card-text-input .additional.expanded {
  display: block;
}
.card-editor .preview-section {
  position: absolute;
  right: 1vh;
  top: 0vh;
  width: 60vh;
  height: 82vh;
}
.card-editor .preview-section .scale {
  position: absolute;
  width: 40vh;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
}
.card-editor .preview-section .scale input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 4vh;
  background-color: var(--dark2);
}
.card-editor .preview-section .scale input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2vh;
  height: 4vh;
  background-color: var(--dark3);
  cursor: pointer;
}
.card-editor .preview-section .container {
  position: absolute;
  width: 100%;
  height: 70vh;
  bottom: 0;
}
.card-editor .preview-section .container .preview {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.card-editor .preview-section .container .preview .card {
  margin: 0 !important;
  display: block !important;
}